Name=hyprtaskbar
Comment=Simple taskbar for hyprland
GenericName=hyprtaskbar
Exec=cd /usr/share/hyprtaskbar && ./hyprtaskbar
Icon=/usr/share/icons/breeze-dark/categories/24/applications-utilities-symbolic.svg
Type=Application
StartupNotify=false
StartupWMClass=hyprtaskbar
Categories=Utility;
MimeType=text/plain;inode/directory;
Keywords=hyprtaskbar;